@keyframes float {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}
* {
    margin: 0 auto;
    color: rgb(65, 156, 105);
    text-shadow: 0 0 0.2em black, 0 0 0.5em black;
}
body {
    background-image: url(../img/background.jpg);
}
.principal {
    text-align: center;
    width: 1089px;
    background-color: rgba(255, 255, 255, 0.3);
    font-size: 1.5em;
}
#titulo {
    display: none;
}
.topo {
    width: 100%;
    height: 300px;
    background-color: black;
}
.menu {
    width: 100%;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.menu ul {
    list-style-type: none;
    overflow: hidden;
    padding-left: 12px;
}
.menu ul li {
    width: 33%;
    text-align: center;
    float: left;
}
.menu ul li a {
    display: block;
    height: 30px;
    width: 200px;
    padding: 10px 50px;
    text-decoration: none;
}
.menu ul li a:hover {
    background-color: black;
    transition: background-color 1s;
}
#primeiroNome {
    margin-left: -10px;
}
#terceiroNome {
    margin-left: 10px;
}
.nomesPergaminhos {
    list-style-type: none;
    width: 25%;
    height: 100%;
    margin-top: 20px;
    float: left;
}
.pergaminho {
    width: 22%;
    height: 100%;
    float: left;
    margin-top: 2%;
    margin-left: 3%;
}
.pergaminho:hover {
    transform: translateY(0px);
    animation: float 1s ease-in-out infinite;
}