<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trabalho sobre o padrão MVC</title>
    <meta name="author" content="Adryan Maikel">
    <link rel="stylesheet" href="css/estilo.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>
<body>
    <main class= "jumbotron">
        <header>
            <h1 class="text-center">Exercicio 2</h1>
        </header>
        <section class="container">
            <h2>Calcular IMC</h2>
            <form action="../controller/pessoa.controller.php" name="form-pessoa" method="get">
                <div class="form-group">
                    <label for="nome">Nome :</label>
                    <input type="text" name="txtnome" class="form-control" id="nome"> 
                </div>
                <div class="form-group">
                    <label for="sexo">Você é: </label>
                    <select name="selsexo" id="sexo" class="form-control">
                        <option value="1">Homem</option>
                        <option value="2">Mulher</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="peso">Peso :</label>
                    <input type="number" name="numpeso" class="form-control" id="peso">
                </div>
                <div class="form-group">
                    <label for="altura">Altura :</label>
                    <input type="number" name="numaltura" class="form-control" id="altura">
                </div>
                <input type="submit" value="Envia" class="btn btn-info">
            </form>
        </section>
        <footer>
            <address class="text-center">Adryan Maikel</address>
        </footer>
    </main>
</body>
</html>
